{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-3 display-4">Rezervace</h1>
<div id="cal" class="container col-sm-12 px-3 mx-auto">
 Čas: <b>  {{time}} </b></br>
<p>Datum: <b>{{current_day}}. {{current_month}}. {{current_year}}</b></p></br>
{{ cal|safe }}
 </div>
<div class="container col-md-2 mx-auto">

 {% for trenink in trenink_list %}

    <div class="card">
  <div class="card-header">
    <b>{{trenink}}</b>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{trenink.popis}}</h4>
    <ul>
  <li> <b>Datum:</b> {{trenink.datum}}</li>
  <li> <b>Čas:</b> {{trenink.cas}}</li>
  <li> <b>Místo:</b> {{trenink.misto}}</li>

 </ul>
  </div>
</div>
 {% endfor %}

</div>
{% endblock content %}