{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-3 display-4">Rezervace</h1>

<div class="row">
     <div class="col-xl-1"></div>
<div id="cal" class=" col-xl-2">
 Čas: <b>  {{time}} </b></br>
    <p>Datum: <b>{{current_day}}. {{current_month}}. {{current_year}}</b></p></br>
    <div id="table" class="table table-sm table-hover table-light table-bordered table-responsive mx-1 px-2 py-2">
{{ cal|safe }}
        </div>
 </div>
<div class=" col-xl-5 mx-auto">
    <div class="my-2">
      <a class="btn-sm " id="btn_rz" href="/slipka_gym/trenink/">+ Vytvoření rezervace</a>
        </div>
 {% for trenink in trenink_list %}
    <div class="card">
  <div class="card-header">
    <b>{{trenink}}</b>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{trenink.popis}}</h4>
        <div class="row">
            <div class="col-md-8">
    <ul>
  <li> <b>Datum:</b> {{trenink.datum}}</li>
  <li> <b>Čas:</b> {{trenink.cas}}</li>
  <li> <b>Místo:</b> {{trenink.misto}}</li>
 </ul>
       <div class="ml-3">
             <a class="btn-sm" id="btn_tr" href="{% url 'update-trenink' trenink.id %}">Update</a>
            <a class="btn-sm" id="btn_dl" href="{% url 'delete-trenink' trenink.id %}">Delete</a>
           <a class="btn-sm" id="btn_pr" href="{% url 'prihlaseni-trenink' trenink.id %}">Přihlášení k tréninku</a>
         </div>
                </div>
             <div class="col-md-4">
                  <li> <b>Přihlášení:</b></li>
                 <div class="mx-4">
      {% for cvicenec in trenink.prihlaseni_k_treninku.all %}
      <span >{{cvicenec.username}}</span>
                     </br>
      {% endfor %}
                     </div>
                 </div>
              </div>
  </div>
</div>
 {% endfor %}

</div>
    <div class="col-xl-3"></div>
    </div>

{% endblock content %}