{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-3 display-4">Slipka Gym</h1>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="my-2" id="kruhovy">Kruhový trénink</h2>
        <ul>
          <li>
              Jedná se o trénink <span id="dots">...</span><span id="more">při kterém dojde k zapojení celého těla.</span>
              </li>
            </ul>
          <button class="btn btn-outline-light my-2" onclick="myFunction()" id="myBtn">Read more</button>
            {%load static%}
        <img id="kruhovy_img" src="{%static 'img/uvod3.jpg'%}" alt="">
          </div>
          <div class="col-md-6">
        <h2 class="my-2" id="pomucky">Cvičební pomůcky</h2>
        <ul>
          <li>
                 Jedná se o trénink <span id="dots2">...</span><span id="more2">při kterém dojde k zapojení celého těla.</span>
              </li>
            </ul>
              <button class="btn btn-outline-light my-2" onclick="myFunction2()" id="myBtn2">Read more</button>
        <img id="pomucky_img" src="{%static 'img/expander.jpg'%}" alt="">
          </div>
          <div class="col-md-6">
        <h2 class="my-2" id="zavody">Závody</h2>
        <ul>
          <li>
              Jedná se o trénink <span id="dots3">...</span><span id="more3">při kterém dojde k zapojení celého těla.</span>
              </li>
            </ul>
              <button class="btn btn-outline-light my-2" onclick="myFunction3()" id="myBtn3">Read more</button>
        <img id="zavody_img" src="{%static 'img/zavod1.jpg'%}" alt="">
          </div>
          <div class="col-md-6">
        <h2 class="my-2" id="party">Párty</h2>
        <ul>
          <li>
                  Jedná se o trénink <span id="dots4">...</span><span id="more4">při kterém dojde k zapojení celého těla.</span>
              </li>
            </ul>
              <button class="btn btn-outline-light my-2" onclick="myFunction4()" id="myBtn4">Read more</button>
        <img id="party_img" src="{%static 'img/uvod.jpg'%}" alt="">
          </div>
        </div>
    </div>


{% endblock content %}