<nav id="navbar" class="navbar navbar-expand-xl navbar-dark sticky-top">
   {%load static%}
      <img src="{%static 'img/logo4.png'%}" class="avatar" class="d-inline-block align-top" alt="avatar logo"></a>
      <div id="nadpis" href="#" class="navbar-brand" class="nadpis">Slipka Gym</div>
      <a href="#" class="toggle-button"></a>
           <button id="btn_n" class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-label="Toggle navigation">
            <span id="icon" class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="a1" class="nav-link" href="{% url 'index'%}">Úvod<span class="sr-only"></span></a>
                    <li class="nav-item">
                      <a id="a2" class="nav-link" href="{% url 'login'%}">Přihlášení</a>
                    </li>
                    <li class="nav-item">
                      <a id="a3" class="nav-link" href="{% url 'signup'%}">Registrace</a>
                    </li>
                      <li class="nav-item">
                          <a id="a6" class="nav-link" href="https://www.facebook.com/groups/352601271743452/">Facebook</a>
                    </li>
            </ul>
        </div>
    </nav>