#footer{
    background-color: rgba(0,0,0.8) !important;
    color: white;
    transform: translateY(-3px);
}
 .toggle-button {
        display: flex;
        color: #cb1515;
        z-index: 1;
    }
