#Ac_Btn{
      background-color: rgba(0, 0, 0, 0.8);
     color: white;
     border: rgba(0, 0, 0, 0.8);
}
.darkmode--activated #Ac_Btn{
    background-color: rgb(255, 255, 255);
    color: black;
 }
#Ac_Btn2{
      background-color: rgba(0, 0, 0, 0.8);
     color: white;
     border: rgba(0, 0, 0, 0.8);
}
.darkmode--activated #user{
      color: rgb(223, 219, 219);
 }
.darkmode--activated #password{
      color: rgb(223, 219, 219);
 }
.darkmode--activated #prihlaseni{
    color: white;
}
.darkmode--activated #registrace{
    color: white;
}
#slipka{
    position: absolute;
  top: 120px;
  bottom: 150px;
  transform: translateX(270%);
  object-fit: scale-down;
  z-index: -1;
    width: 480px;
     isolation: isolate;
}

#slipka2{
    position: absolute;
  top: 120px;
  bottom: 150px;
  transform: translateX(290%);
  object-fit: scale-down;
  z-index: -1;
    width: 480px;
    isolation: isolate;
}
#username{
    top: 10px;
    color: white;!important
}
.darkmode--activated #username{
    color: black;
}