#navbar {
    padding: 0.7rem;
    background-color: rgba(0, 0, 0.863) !important;
}
.avatar {
    position: relative;
    width: 40px;
}
.navbar-brand{
    position:absolute;
    top: 31.5px;
    transform: translateY(-60px);
    transform: translateX(45px);
    font-size: 23px;
}
.navbar-nav li {
padding-right: 45px;
}
.nav-link {
    font-size: 1.1em !important;
}
.darkmode--activated #navbar {
    background-color: white !important;
}
.darkmode--activated #a1 {
    color: black !important;
}
.darkmode--activated #a2 {
    color: black !important;
}
.darkmode--activated #a3 {
    color: black !important;
}
.darkmode--activated #a4 {
    color: black !important;
}
.darkmode--activated #a5 {
    color: black !important;
}
.darkmode--activated #a6 {
    color: black !important;
}
.darkmode--activated #a7 {
    color: black !important;
}
.darkmode--activated #nadpis {
    color: black !important;
}
.darkmode--activated #icon {
    color: black !important;
}
.darkmode--activated #btn_n{
    background-color: black;
}

