.darkmode--activated #cal{
    color: rgb(223, 219, 219);
}
#btn_rz{
      background-color: rgba(0, 0, 0, 0.8);
     color: white;
     border: rgba(0, 0, 0, 0.8);
    padding: 5px;
}
#btn_pr{
   background-color: rgb(1, 141, 180);
     color: white;
     border: rgba(0, 0, 0, 0.8);
}